*{
    padding: 0;
    margin: 0;
    font-family: "Verdana";
}

h1{
    font-size: 64px;
    font-family: "Times New Roman";
}

h2{
    font-size: 54px;
    font-family: "Times New Roman";
}

button{
    cursor: pointer;
    outline: none;
    border: none;
    transition: box-shadow .2s ease-in;
}

button:hover{
    box-shadow: 0 0 10px  #ADBFCD;
}

button.primary{
    align-self: center;
    background-color: #F3AF00;
    color: #372B00;
    padding: 20px;
    font-size: 22px;
    border-radius: 35px;
}


button.primary-2{
    align-self: center;
    background-color: #fff;
    color: #372B00;
    padding: 15px;
    font-size: 20px;
    border: 2px solid #F3AF00;
    border-radius: 35px;
}

button.primary-3{
    border-radius: 5px;
    color: #46637A;
    padding: 10px;
    background: #F9F9F9;
    border: 2px solid #46637A;
}


.wrapper{
    padding: 0 120px;
    margin: auto;
}

.preview{
    position: relative;
    background: #000 url("./assets/Images/imgBackground.jpg") no-repeat fixed center;
    height: 100vh;
    background-size: cover;
}

.preview .logo-wrapper{
    padding: 50px 0 135px;
}

.preview h1{
    color: white;
    margin-bottom: 70px;
    max-width: 880px;
    letter-spacing: 3px;
}


.preview span{
    color: white;
}


.preview__description{
    display: inline-block;
    color: white;
    margin-bottom: 70px;
    font-size: 24px;
    max-width: 550px;
}

.preview__buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.preview__buttons>*:first-child{
    margin-right: 50px;
}

.preview__buttons>*:nth-child(2){
    margin-right: 20px;
}

.preview__buttons span{
    color: #A0A7B5;
}

.preview__social{
    position: absolute;
    left: 120px;
    bottom: 5vh;
}


.preview__social span {
    display: inline-block;
    color: #A0A7B5;
    font-size: 16px;
    margin-bottom: 24px;
}

.social-line > *{
    display: inline-block;
    margin-right: 30px;
}

.tours .wrapper, .comment .wrapper {
    margin: 120px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.comment .wrapper {
    justify-content: flex-end;
}

.tours .description, .comment .description{
    max-width: 650px;
}


.tours .description{
    margin-left: 100px;
}


.comment .description{
    margin-right: 130px;
}

.tours .description h2, .comment .description h2{
    margin-bottom: 50px;
}

.tours .description span, .comment .description span{
    display: inline-block;
    font-size: 20px;
    line-height: 37px;
    max-width: 550px;
    margin-bottom: 28px;
}

.img{
    display: inline-block;
    min-width: 820px;
    min-height: 470px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}


.img span{
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.img span{
    font-size: 22px;
}

.img::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,.9), rgba(0,0,0,0));
}

.request{
    background:  url("./assets/Images/imgForm.jpg") no-repeat center;
    background-size: cover;
}

.request .wrapper{
    padding: 50px 120px ;
    display: flex;
    justify-content: flex-end;
}

.request .request__block{
    max-width: 800px;
    margin-right: 50px;
}

.request h2{
    max-width: 700px;
    margin-bottom: 40px;
}

.request form{
    display: flex;
    flex-direction: column;

}

.request form > *{
    margin-bottom: 30px;
    align-self: flex-start;
}

.request input{
    padding: 15px;
    border: 2px solid  #ADBFCD;
    outline: none;
    background: #F9F9F9;
    border-radius: 10px;
    transition: border .2s ease-in;
}

.request input:focus{
    border: 2px solid #768796;
}

footer .wrapper{
    padding: 60px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    color: #A1B6C5;

}





